models/layoutlmv3-congvan-token-classification/model.safetensors filter=lfs diff=lfs merge=lfs -text
dataset_template/layoutlmv3_training/rendered_pages/*.png filter=lfs diff=lfs merge=lfs -text
models/vietocr-congvan/transformerocr.pth filter=lfs diff=lfs merge=lfs -text
models/vietocr-pretrained/vgg_transformer.pth filter=lfs diff=lfs merge=lfs -text
OCR/**/*.pdf filter=lfs diff=lfs merge=lfs -text
